* {
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

@font-face{
    font-family: Sport;
    src: url('../font/Sport/SFSportsNight.ttf');
}

@font-face{
    font-family: DancingScript;
    src: url('../font/DancingScript.ttf');
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset rgba(255, 255, 255, 0.95); 
  }

  ::-webkit-scrollbar-thumb {
    background: #e91519;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #85181a; 
  }

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: #7b2325;
    width: 100%;
    height: 1000px;
}

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 100;
    justify-content: space-between;
    transition: 0.2s ease-in-out;
    background-color: #7b2325;
}

.header-active {
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.8); 
}

.header-left {
    float: left;
}

.header-right {
    float: right;
}

.header-right h2, .header-right h1 {
    font-weight: normal;
    font-family: Sport;
    color: white;
    margin-top: 10px;
}

.header-left h2, .header-left h1 {
    color: rgb(255, 255, 255);
    font-weight: normal;
    float: right;
    margin-top: 10px;
    font-family: Sport;
}

.heading {
    text-align: center;
    margin-top: 50px;
}


.judul {
    letter-spacing: 2px;
    opacity: 100%;
}

.day-one {
    color: white;
}

.day-preview{
    border-radius:50%;
    filter: blur(3px);
}

.complete {
    background-color: rgb(8, 231, 8);
}

.welcome {
    padding: 50;
    height: 100%;
    color: white;
}

.board-welcome {
    position: absolute;
    left: 50%;
    width: 800px;
    margin-top: 400px;
    height: 800px;
    transform: translate(-50%, -50%);
    background: #7b2325;
    filter: blur(2px);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.welcome .user-box {
    position: relative;
  }
  
  .welcome .user-box input {
    width: 41%;
    padding: 10px 10px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .welcome .user-box label {
    width: 68%;
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .welcome .user-box input:focus ~ label,
  .welcome .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }

.button-mulai, .login, .button-kembali {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
}

.button-mulai, .login, .button-kembali {
    transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 1.95);
    font-weight: 900;
    color: #202121;
    padding: 1.25rem 2rem;
    background: #fff;
    text-transform: uppercase;
}

.button-mulai:hover, .button-mulai:focus, .button-mulai:active {
    letter-spacing: 0.125rem;
}

.login:hover, .login:focus, .login:active {
    letter-spacing: 0.125rem;
}

.button-kembali:hover, .button-kembali:focus, .button-kembali:active {
    letter-spacing: 0.125rem;
}

.button-kembali {
    height: 30px;
    width: 80px;
    margin-top: 20px; 
    padding: 10px;
}
.card {
    font-weight: bold;
    height: 200px;
    width: 100%;
    color: #e91519;
    transition: transform .2s;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.8);
}
.card:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.section-index .card{
    border-radius: 50%;
}
.card-img-top {
    padding: 5px;
    height: 150px;
}

.kalender-1{
    border-radius: 50%;
}

.kalender-1-card-text{
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.8); 
    margin: 70px 45px;
    background-color: #7b2325;
    width: 45%;
    color: white;
}

.kolom-satu a{
    color: #7b2325;
}

.kolom-satu a:hover {
    color: #7b2325;
}

.kolom-tiga {
    visibility: visible;
    opacity: 1;
}

.kolom-empat {
    visibility: visible;
    opacity: 1;
}

.kolom-lima {
    visibility: visible;
    opacity: 1;
}

.kolom-enam {
    visibility: visible;
    opacity: 1;
}


footer {
    text-align: center;
    height: 50px;
    overflow: auto;
}

footer h3 {
    margin: 12px 10px;
    color:white;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 2px;
}

.penutup {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.penutup-active {
    text-align: center;
    visibility: visible;
    opacity: 1;
    height: 517px;
}

.total-exercise-active {
    opacity: 0;
    visibility: hidden;
}

.exercise-1, .exercise-2, .exercise-3, .exercise-4, .exercise-5, .exercise-6, 
.exercise-7, .exercise-8, .exercise-9, .exercise-10, .exercise-11, .exercise-12,
.exercise-13, .exercise-14, .exercise-15 {
    width: 190px;
    opacity: 0.5;
}   

.modal-content{
    color:#7b2325;
}
.modal-content h1{
    font-family: Sport;
}