@media screen and (max-width: 320px) {
    * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }

    .judul h1{
        font-size : 20px;
    }

    .judul h3{
        font-size: 20px;
    }

    .section-index {
        height: 100%;
    }
    .kolom-tiga {
        visibility: visible;
        opacity: 1;
    }

    .header-right{
        visibility: hidden;
    }

    .header-left {
        margin-top: 15px;
        margin-left: 15px;
        display: inline-block;
    }

    .header-left h2 {
        font-size: 12px;
        margin-left: 10px;
    }

    .section-index .card  {
        margin-top: 10px;
        height: 50px;
        max-width: 34px;
    }

    .section-index .kalender-1-card-text{
        margin-top: 20px; 
        margin-left: -20px;
        width: 34px;
        font-size: 8px;
    }

    .section-index .card-img-top {
        padding: 0px;
        filter: none;
    } 

    .list-inline-item a:hover{
        letter-spacing: 0rem;
    }
  }

@media screen and (max-width: 375px) and (min-width:321px) {
    * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }

    .judul h1{
        font-size : 25px;
    }

    .judul h3{
        font-size: 25px;
    }

    .header-right{
        visibility: hidden;
    }

    .header-left {
        margin-top: 15px;
        margin-left: 20px;
        display: inline-block;
    }

    .header-left h2 {
        font-size: 15px;
        margin-left: 10px;
    }

    .section-index .card  {
        margin-top: 10px;
        height: 50px;
        width: 42px;
    }

    .section-index .kalender-1-card-text{
        margin-top: 20px; 
        margin-left: -20px;
        width: 42px;
        font-size: 8px;
    }

    .section-index .card-img-top {
        padding: 0px;
        filter: none;
    }
  }  

@media screen and (max-width: 425px) and (min-width: 376px) {
    * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }
    .judul h1{
        font-size : 30px;
    }

    .judul h3{
        font-size: 30px;
    }
    .header-right{
        visibility: hidden;
    }

    .header-left {
        margin-top: 15px;
        margin-left: 20px;
        display: inline-block;
    }

    .header-left h2 {
        font-size: 20px;
        margin-left: 5px;
    }

    .section-index .card  {
        margin-top: 10px;
        height: 50px;
        width: 48px;
    }

    .section-index .kalender-1-card-text{
        margin-top: 20px; 
        margin-left: -20px;
        width: 48px;
        font-size: 8px;
    }

    .section-index .card-img-top {
        padding: 0px;
        filter: none;
    }
  }  

@media screen and (max-width: 768px) and (min-width: 426px) {
    * {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
    }
    .header h2{
        font-size: 25px;
    }

    .header-left, .header-right {
        margin-top: 10px
    }

    .section-index .card  {
        margin-top: 10px;
        height: 150px;
        width: 123px;
    }

    .section-index .kalender-1-card-text{
        margin-top: 50px; 
        margin-left: 5px;
        width: 70px;
        font-size: 12px;
    }
}